<p id="notice"><%= notice %></p>

<h1>Listing Beer Clubs</h1>
<p>Number of clubs: <%= "#{@beer_clubs.count}" %></P>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Founded</th>
      <th>City</th>
      <% if current_user %>
        <th colspan="2">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @beer_clubs.each do |beer_club| %>
      <tr>
        <td><%= link_to beer_club.name, beer_club %></td>
        <td><%= beer_club.founded %></td>
        <td><%= beer_club.city %></td>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_beer_club_path(beer_club) %></td>
          <td><%= link_to 'Destroy', beer_club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to('New Beer club', new_beer_club_path) if current_user %>