<h1>
	<%= @beer_club.name %>
</h1>

<hr/>

<p>
	<strong>City:</strong>
	<%= @beer_club.city %>
</p>
<p>
	<strong>Founded:</strong>
	<%= @beer_club.founded %>
</p>

<h3>Members</h3>
<%= render 'users/list', users: @beer_club.members %>

<hr/>

<% if current_user %>
	
	<% unless @beer_club.members.include? current_user %>
		<%= form_for(@membership) do |f| %>
			<%= f.hidden_field :beer_club_id %>
			<%= f.submit value:"Join the club", class:'btn btn-success' %>
		<% end %>
 	<% else %>
		<%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <div class="btn-group">
				<%= link_to 'Edit', edit_beer_club_path(@beer_club), class:'btn btn-warning' if current_user %>
    		<%= f.submit value: "End membership", class:'btn btn-danger' %>
    	</div>
		<% end %>
 	<% end %>
<% end %>