<p id="notice"><%= notice %></p>
<h1><%= @user.username %></h1>

<h3>Memberships</h3>
	<% if @user.beer_clubs.any? %>
	<ul>
		<% @user.beer_clubs.each do |club| %>
	      <li><%= link_to club.name, club %></li>
	  	<% end %>
	</ul>
	<% else %>
		<p>No clubs</p>
	<% end %>

<h3>Ratings</h3>
<% if @user.ratings.any? %>
	<p><b><%= "Has made #{pluralize(@user.ratings.count, 'rating', 'ratings')}, average #{@user.average_rating} points" %></b></p>

	<ul>
		<% @user.ratings.each do |rating| %>
			<li>
				<%= rating %> 
				<% if @user == current_user %>
					<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }%>
				<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
<p><b>User haven't made any ratings</b></p>
<% end %>
<% if @user == current_user %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
