<h1>
	<%= @user.username %>
</h1>

<hr/>

<h3>Memberships</h3>
	<% if @user.beer_clubs.any? %>
	<ul>
		<% @user.beer_clubs.each do |club| %>
	      <li><%= link_to club.name, club %></li>
	  	<% end %>
	</ul>
	<% else %>
		<p>Use has not registered to any beer clubs</p>
	<% end %>

<h2>Ratings</h2>
<% if @user.ratings.any? %>
	<p><%= "Total of #{pluralize(@user.ratings.count, 'rating', 'ratings')} with average score of #{round(@user.average_rating)} points" %></p>
	<%= render 'ratings/list', ratings: @user.ratings %>
<% else %>
	<p>User has not made any ratings</p>
<% end %>

<hr/>

<div class="btn-group">
<% if current_user %>
	<% if @user == current_user || current_user.admin %>
		<%= link_to 'Edit', edit_user_path(@user), class:'btn btn-warning' %>
		<%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' if current_user.admin %>
	<% end %>

	<% if current_user.admin && !@user.admin %>
		<% if @user.locked %>
			<%= link_to "Unlock", toggle_locked_user_path(@user.id), method: :post, class: "btn btn-success" %>
		<% else %>
			<%= link_to "Lock", toggle_locked_user_path(@user.id), method: :post, class: "btn btn-success" %>
		<% end %>
	<% end %>
<% end %>
</div>
