<p id="notice"><%= notice %></p>
<h1><%= @user.username %></h1>

<% if @user.ratings.any? %>
	<p><b><%= "Has made #{pluralize(@user.ratings.count, 'rating', 'ratings')}, average #{@user.average_rating} points" %></b></p>
	<h3>Ratings</h3>
	<ul>
		<% @user.ratings.each do |rating| %>
			<li>
				<%= rating %> 
				<% if @user == current_user %>
					<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }%>
				<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
<p><b>User haven't made any ratings</b></p>
<% end %>
<% if @user == current_user %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
