<p id="notice"><%= notice %></p>

<h1>
	<%= @style.name %>
</h1>
<quote>
	<%= @style.description %>
</quote>

<% unless @style.beers.empty? %>
	<h3>Beers</h3>
	<ul>
	<% @style.beers.each do |b| %>
		<li><%= link_to b.name, b %> by <%= link_to b.brewery.name, b.brewery %></li>
	<% end %>
	</ul>
<% end %>

<%= edit_and_destroy_buttons(@style) %>


<%= link_to 'Back', styles_path %>
