<h1>Listing Breweries</h1>
<hr/>
<div style="border-style: solid;">
  brewerylist-active: <%= ActionController::Base.new.fragment_exist?( 'brewerylist-active' ) %>
  <br/>
  brewerylist-retired: <%= ActionController::Base.new.fragment_exist?( 'brewerylist-retired' ) %>
</div>

<h3>Active</h3>
<% cache 'brewerylist-active', skip_digest: true do %>
	<%= render 'list', breweries: @active_breweries %>
<% end %>

<h3>Retired</h3>
<% cache 'brewerylist-retired', skip_digest: true do %>
	<%= render 'list', breweries: @retired_breweries %>
<% end %>
<hr/>

<%= link_to('New Brewery', new_brewery_path, class:'btn btn-success') if current_user %>