<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %></h2>

<p><i>Established in <%= @brewery.year %></i></p>

<p>
  <strong>Count of Beers:</strong>
  <%= @brewery.beers.count %>
</p>

<ul>
 <% @brewery.beers.each do |beer| %>
   <li><%= link_to beer.name, beer %></li>
 <% end %>
</ul>
<p>Has <%= pluralize(@brewery.ratings.count, "rating", "ratings") %>, average <%= @brewery.average_rating %></p>
<%= link_to('Edit', edit_brewery_path(@brewery)) if current_user %>
