<% cache @beer do %>
<h1>
	<%= @brewery.name %>
</h1>

<hr/>

<p>
	<strong>Founded:</strong>
	<%= "Established in #{@brewery.year}, #{@brewery.country}" %>
	<% if not @brewery.active  %>
		<span class="label label-danger">retired</span>
	<% end %>
</p>

<p>
	<strong>Ratings:</strong>
	<%= "#{pluralize(@brewery.ratings.count, 'rating', 'ratings')} with average score of #{round(@brewery.average_rating)}" %>
</p>
<% end %>

<h2>Beers</h2>
<p>
	<%= "Number of beers: #{@brewery.beers.count}" %></p>
<p>
<% if @brewery.beers.empty? %>
	<p>No added beers for brewery.</p>
<% else %>
	<%= render 'beers/list', beers: @brewery.beers %>
<% end %>

<hr/>

<div class="btn-group">
	<% if current_user %>
		<%= link_to 'Edit', edit_brewery_path(@brewery), class:'btn btn-warning' %>
		<% if current_user.admin? %>
			<%= link_to "Shutdown", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-danger" if @brewery.active? %>
			<%= link_to "Activate", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-success" if !@brewery.active %>
		<% end %>
	<% end %>
</div>



