<h1>Listing Beers</h1>

<hr/>

<div style="border-style: solid;">
  beerlist-name: <%= ActionController::Base.new.fragment_exist?( 'beerlist-name' ) %>
  <br>
  beerlist-style: <%= ActionController::Base.new.fragment_exist?( 'beerlist-style' ) %>
  <br>
  beerlist-brewery: <%= ActionController::Base.new.fragment_exist?( 'beerlist-brewery' ) %>
  <br>
  current: <%= "beerlist-#{@order}" %>
</div>

<br/>

<% cache "beerlist-#{@order}", skip_digest: true do %>
	<%= render 'list', beers: @beers %>
<% end %>

<%= link_to 'New Beer', new_beer_path, class:'btn btn-success' if current_user %>