<p id="notice"><%= notice %></p>

<h1>Listing Beers</h1>
<p>Number of beers: <%= "#{@beers.count}" %></P>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Style</th>
      <th>Brewery</th>
      <% if current_user %>
        <th colspan="2">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= link_to beer.style.name, beer.style %></td>
        <td><%= link_to beer.brewery.name, brewery_path(beer.brewery_id) %></td>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_beer_path(beer), class:'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', beer, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to('New Beer', new_beer_path, class:'btn btn-default') if current_user %>