<p id="notice"><%= notice %></p>

<h1>
	<%= @beer.name %>
</h1>

<p>
	<strong>Style:</strong>
	<%= @beer.style.name %>
</p>

<p>
	<strong>Brewery:</strong>
	<%= @beer.brewery_id %>
</p>

<p>
	<% if @beer.ratings.empty? %>
	 	This beer has not yet been rated!
	<% else %>
		<%= "Beer has #{pluralize(@beer.ratings.count, 'rating', 'ratings')}, average #{@beer.average_rating}" %>
	<% end %>
</p>

<% if current_user %>
	<h4>Give a rating:</h4>
	<%= form_for(@rating) do |f| %>
		<%= f.hidden_field :beer_id %>
		<div class="field">
			<%= f.number_field :score %>
    	<%= f.submit class:'btn btn-primary btn-xs' %>
    </div>
	<% end %>
<% end %>

<div class="actions">
	<%= link_to('Edit', edit_beer_path(@beer), class:'btn btn-warning') if current_user %>
</div>
<%= link_to 'Back', beers_path %>