<h1><%= @beer.name %></h1>

<hr/>

<p>
	<strong>Style:</strong>
	<%= @beer.style.name %>
</p>

<p>
	<strong>Brewery:</strong>
	<%= @beer.brewery.name %>
</p>



<h2>Ratings</h2>
<p>
	<% if @beer.ratings.empty? %>
	 	The beer has not been rated.
	<% else %>
		<%= "Total of #{pluralize(@beer.ratings.count, 'rating', 'ratings')} with average score of #{@beer.average_rating}" %>
	<% end %>
</p>
<% if @beer.ratings.empty? %>
	<p>No added beers for brewery.</p>
<% else %>
	<%= render 'ratings/list', ratings: @beer.ratings %>
<% end %>

<hr/>

<% if current_user %>
	<h2>Give a rating:</h2>
	<%= form_for(@rating) do |f| %>
		<%= f.hidden_field :beer_id %>
		<div class="input-group col-sm-2">
			<%= f.number_field :score, class:'form-control' %>
			<span class="input-group-btn">
  			<%= f.submit 'Rate', class:'btn btn-primary' %>
  		</span>
  	</div>
	<% end %>
<% end %>
<div class="actions">
	<%= link_to 'Edit', edit_beer_path(@beer), class:'btn btn-warning' if current_user %>
</div>
<%= link_to 'Back', beers_path %>